header {
  margin-top: 1rem;
}

table {
  width: 100%;
  margin-top: 1rem;
  border-collapse: collapse;

  td, th {
    border: 1px solid #000;
    padding: .5rem 1rem;
    user-select: none;
  }

  td {
    text-align: center;

    &:hover {
      cursor: pointer;
    }
  }

  .user-th {
    padding-left: 8px;
  }
}

.select-date {
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    margin: 0 2rem;
    text-align: center;
    width: 200px;
  }

  i {
    cursor: pointer;
  }
}

.weekend {
  background: #f7f7f7;
}
