<header class="header">
  <form [formGroup]="filterForm" class="form-inline">
    <div class="container-fluid">
      <div class="row d-flex">
        <div class="col-xs-6 col-sm-4 text-center">
          <select class="form-control" formControlName="user" multiple name="user options" id="selectUsers">
            <option *ngFor="let user of users$ | async" [value]="user.id">
              {{ user.name }}
            </option>
          </select>
        </div>

        <div class="col-xs-6 col-sm-4 align-self--center select-date">
          <i class="material-icons" (click)="changeMonth(true)">arrow_left</i>
          <span>
            {{ monthName$ | async}}, {{ year$ | async }}
          </span>
          <i class="material-icons" (click)="changeMonth()">arrow_right</i>
        </div>

        <div class="col-xs-6 col-sm-4 text-center">
          <select class="form-control" formControlName="type" multiple name="type options" id="selectTypes">
            <option
              *ngFor="let type of types$ | async"
              [value]="type.id"
              [ngStyle]="{'background-color': type.color}">
              {{ type.name }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </form>
</header>

<div class="table-wrapper">
  <table>
    <thead>
    <tr>
      <th>&nbsp;</th>
      <th *ngFor="let day of days$ | async"  class="text-center">
        {{ day.number  }}
      </th>
    </tr>
    </thead>

    <tbody>
      <tr *ngFor="let user of usersWithRecords$ | async">
        <th class="user-th">{{ user.name }}</th>
        <td
          *ngFor="let day of daysWithRecords$ | async"
          [ngClass]="{
          'weekend': day.isWeekend,
          'current': day.current
          }"
        >
          <ng-container *ngIf="day.records[user.id] as records">
            <div *ngFor="let record of records"
                 [title]="record.description"
                 [ngStyle]="getRecordStyle(record)"
                 class="record"
            >
              {{ record.description }} ({{ record.start | date: 'dd.MM.YYYY' }} - {{ record.end | date: 'dd.MM.YYYY' }})
            </div>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
</div>
